{% load static %}
<header>
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('{% static 'home/images/background-homepage.jpg' %}');
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
    ">
    <div class="mask rounded-2" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 mt-1">Check our store</h1>
          <h4 class="mb-3">Find something new</h4>
          <a class="btn btn-outline-light mb-2 btn-lg" href="/products" role="button"
          >Show list of all available items!</a
          >
        </div>
      </div>
    </div>
  </div>
</header>