{% comment %} {% for item in item_list %}
<div class="card mb-3">
  {% if item.image %}
  <img src="{{ item.image.url }}" width=200 alt="{{ item.name }}" />
  {% endif %}
  
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <p class="card-text">{{ item.product_description }}</p>
    <p class="card-text">
      <small class="text-muted">Last updated: {{ item.updated_at }}</small>
    </p>
  </div>
</div>
{% endfor %} {% endcomment %}

{% for item in item_list %}
<div class="d-flex flex-row bd-highlight mb-3">
  <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
    <!-- Card-->
    <div class="card rounded shadow-sm border-0">
      <div class="card-body p-4"> 
        {% if item.image %}
         <img src="{{ item.image.url }}" alt="" class="img-fluid d-block mx-auto mb-3">
        {% endif %}
        <h5> <a href="#" class="text-dark">{{ item.name }}</a></h5>
        <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <ul class="list-inline small">
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
        </ul>
      </div>
    </div>
  </div>
{% endfor %}  