{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}

{% block title %}

{% endblock %}

{% block navbar%}
{% include 'includes/navbar.html' %}
{% endblock %}

{% block content %}
{% if gender and category %}
<h1>{{ gender  }}</h1>
<h2>{{ category }} </h2>

{% endif %}
  to jest dzial menski
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}